PORT=3000
NODE_ENV=development
NEXT_PUBLIC_API_URL=http://localhost:3001
AUTH_JWT_SECRET=your_jwt_secret_key
NEXT_PUBLIC_ROOT_DOMAIN=localhost:3000



DATABASE_URL="postgresql://postgres:postgres@localhost:5432/titans_tech?schema=public"
